VITE_COGNITO_AUTHORITY=https://cognito-idp.us-east-1.amazonaws.com/us-east-1_RGh4stkX2
VITE_COGNITO_CLIENT_ID=678cdbmgummattscsh8ngnelp9
VITE_API_URL=https://cgma5y0uq5.execute-api.us-east-1.amazonaws.com/